<%- include("../partials/head.ejs") %>


<table>
    <tr>
      <th>title:      <%= product.title%> </th>

       <th>PRICE:     <%= product.price%>  </th>

       <th>taxes:     <%= product.taxes%> </th>

       <th>ads:       <%= product.ads%></th>

       <th>discount:  <%= product.discount%></th>

       <th>total: </th>

        <th>count:    <%= product.count%></th> 

        <th>category: <%= product.category%> </th>

        <td><form id="delete" action="/product/<%= product._id %>?_method=DELETE" method="post"><button> DELETE</button>
        </form></td>

        <td><a id="update"href="/product/<%= product._id %>/edit"><button>Update</button></a></td>
</tr>
</table>

 

<a href="/product"><button id="BACK"> BACK </button></a>



